body
{
	max-width: 1920px;
	min-width: 1366px;
	margin: 0;
	padding: 0;
	background: url("newer_background1.png");
	background-size: cover;
}


#left_side
{
	position: absolute;
	left: 50%;
	margin-left: -620px;
	width: 250px;
	background-color: #555555;
	border: 3px solid black;
	margin-top: 50px;
}

#middle
{
	position:absolute;
	float: left;
	width: 600px;
	left: 50%;
	margin-left: -300px;
	margin-top: 0px;
}
